*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
    background-color: #111;
    color: #fff;
}

.header{
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    z-index: 1000;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* .menu-list{
    display: flex;
    flex-direction: row;
} */
.menu-list ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}
.menu-list ul li{
    text-decoration: none;
    padding: 4px 14px;
}
.menu-list ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
} 

.signbtn button{
    width: 150px;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s ease;
    border: none;
    outline: none;
    border: 1px solid #fff;
}
.signbtn button:hover{
    background-color: transparent;
    
    color: #fff;
}

